<div class="pt-5 pb-5 bg-light" style="min-height: calc(100vh);">
	<section class="container mt-5" style="max-width: 500px;">

		<div class="align-items-center d-flex justify-content-center">
			<img style="max-width: 200px;" src="/assets/icon.png" alt="">
			<h2>ScreenCast</h2>
		</div>

		<h4>Login</h4>
		
		<form [formGroup]="loginForm" (ngSubmit)="login()">
			<div class="mb-3">
				<label for="email" class="form-label">Email</label>
				
				<div class="input-group has-validation">
					<input type="email" class="form-control shadow-none" [ngClass]="{'is-invalid': loginForm.controls['email'].errors && loginForm.controls['email'].dirty}" id="email" formControlName="email" placeholder="Digite seu email">

					<div class="invalid-feedback">
						<div *ngIf="loginForm.controls['email'].errors?.['required']">Este campo é obrigatório.</div>
					</div>
				</div>
			</div>
			<div class="mb-3">
				<label for="password" class="form-label">Senha</label>

				<div class="input-group has-validation">
					<input type="password" class="form-control shadow-none" [ngClass]="{'is-invalid': loginForm.controls['password'].errors && loginForm.controls['password'].dirty}"  id="password" formControlName="password" placeholder="Digite sua senha">

					<div class="invalid-feedback">
						<div *ngIf="loginForm.controls['password'].errors?.['required']">Este campo é obrigatório.</div>
					</div>
				</div>
			</div>

			<div class="mb-3">
				Não possui uma conta? <a routerLink="/register">Registre-se aqui</a>.
			</div>

			<button id="login-btn" type="submit" class="btn btn-primary">Entrar</button>
		</form>
	</section>
</div>